<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>U CAN BROOKE THE PENTHAGON SITE ??</h1>
<h2>We're watching U !!!!</h2><br>
<form method="post">
    {% csrf_token %}
    <input type="text" name="name"/><br>
    <input type="email" name="email"/><br>
    <textarea name="message"></textarea><br>
    <input type="submit" value="Отправить"/>

</form>
<br><br>
<!-- Пример: подключение статического CSS-файла -->
<link rel="stylesheet" type="text/css" href="/static/main/static/css/your_stylesheet.css">

<!-- Пример: подключение статического JS-файла -->
<script type="text/javascript" src="/static/main/static/js/your_script.js"></script>

<!-- Пример: вставка статического изображения -->
<img src="/static/main/static/images/your_image.png" alt="Your Image">


</body>
</html>